<footer>
  <div class="map">
      <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3041.153429433029!2d-3.8098801000000013!3d40.3389423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418944a697ca19%3A0xf43dc9c5776c6f5!2sMabusa%20Carrocer%C3%ADa%20PEUGEOT%20y%20Multimarca!5e0!3m2!1ses!2ses!4v1682189506249!5m2!1ses!2ses"
          width="50%" height="350" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="footer-info">
      <div class="footer-politica">
          <a [routerLink]="['/AboutUs']">Privacidad y legalidad</a>
          <a [routerLink]="['/AboutUs']">Condiciones de uso</a>
      </div>

      <div class="footer-redes">
          <div><i class="fa-solid fa-phone"></i></div>
          <div><i class="fa-regular fa-envelope"></i></div>
          <div><i class="fa-brands fa-instagram"></i></div>
          <div><i class="fa-brands fa-youtube"></i></div>
          <div><i class="fa-brands fa-facebook"></i></div>
          <div><i class="fa-brands fa-twitter"></i></div>
          <div><i class="fa-brands fa-tiktok"></i></div>
          <div><i class="fa-brands fa-discord"></i></div>
      </div>
  </div>

  <div class="footer-derechos">
    <i class="fa-regular fa-copyright"></i>&nbsp; DriveXperience
    Desarrollado y diseñado por &nbsp;
      <a href="https://www.linkedin.com/in/cristopher-jimenez-jimenez/">Cristopher Jiménez</a>,&nbsp;
      <a href="https://www.linkedin.com/in/andrea-martinez-cano">Andrea Martínez</a>,&nbsp;
      <a href="https://www.linkedin.com/in/bryan-villacres-4556b7221/">Bryan Villacres</a>
  </div>
</footer>
