<footer>
  <div class="footer-info">
    <div class="footer-politica">
      <a [routerLink]="['/AboutUs']">Privacidad y legalidad</a>
      <a [routerLink]="['/AboutUs']">Condiciones de uso</a>
    </div>

    <div class="footer-redes">
      <div><i class="fa-solid fa-phone"></i></div>
      <div><i class="fa-regular fa-envelope"></i></div>
    </div>
  </div>

  <div class="footer-derechos">
    <p>
      © DriveXperience creado por
      <a
      target="_blank"
        href="https://www.linkedin.com/in/cristopher-jimenez-jimenez/"
        >Cristopher Jiménez</a
      >
       y
      <a
      target="_blank"
        href="https://www.linkedin.com/in/andrea-martinez-cano"
        >Andrea Martínez</a
      >
    </p>
  </div>
</footer>
