<nav>
  <input type="checkbox" id="open" #menuCheckbox />
  <label for="open" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <div class="menu" #menu>
    <a
      [routerLink]="['/marcas']"
      class="nav-option box"
      (click)="closeMenu(menuCheckbox)"
      >Marcas</a
    >
    <a
      [routerLink]="['/catalogo']"
      class="nav-option box"
      (click)="closeMenu(menuCheckbox)"
      >Catalogo</a
    >
    <a
      [routerLink]="['/AboutUs']"
      class="nav-option box"
      (click)="closeMenu(menuCheckbox)"
      >Sobre nosotros</a
    >
    <a
      *ngIf="usuarioService.isLogged()"
      [routerLink]="['/perfil']"
      class="nav-option box"
      (click)="closeMenu(menuCheckbox)"
      >Mi Perfil</a
    >
  </div>
  <a class="nav-logo" [routerLink]="['/']">
    <img src="assets/img/logo.png" alt="logo" id="logo" />
    <img src="assets/img/icono-logo.png" alt="icono-logo" id="icono-logo" />
  </a>
  <div class="nav-user">
    <a id="login"  [routerLink]="['/perfil']">
      <i class="fa-solid fa-user"></i>
    </a>
  </div>
</nav>
