<main>
  <div class="containerLogin animate__animated  animate__fadeInUp">
      <div class="login-cont" id="itLog1">
          <img src="/assets/img/logo.png" alt="">
      </div>
      <div class="login-cont" id="itLog2">
          <div class="login-titulo">REGISTRO</div>
          <label class="login-label">Nombre</label>
          <div class="login-inp"><input id="nombre" type="text" required></div>
          <label class="login-label">Apellidos</label>
          <div class="login-inp"><input id="apellidos" type="text" required></div>
          <label class="login-label">Email</label>
          <div class="login-inp"><input id="email" type="email" required></div>
          <label class="login-label">Password</label>
          <div class="login-inp"><input id="password" type="password" required></div>
          <label class="login-label">Fecha de nacimiento</label>
          <div class="login-inp"><input id="fecha" type="date" required></div>
          <div class="login-button"><input id="buttonL" onclick="registro()" type="button" value="Ingresar"></div>
      </div>
  </div>
</main>
