<main class="">
  <div class="banner">
    <img src="../../../assets/img/banner/banner.jpg" alt="banner">
  </div>

  <div class="content">
    <div class="js-scroll slide-left card">
      <div class="img">
        <img src="../../../assets/img/coches/urusC1.png" alt="" />
      </div>
      <div class="info">
        <h1>
          Eleva tus expectativas y alcanza nuevas alturas, deja que la
          excelencia en la conducción sea tu compañera de viaje
        </h1>
      </div>
    </div>
    <div class="js-scroll slide-left card">
      <div class="info">
        <h1>Selección cuidadosa para satisfacer los gustos más exigentes</h1>
      </div>
      <div class="img">
        <img src="../../../assets/img/coches/wC1.png" alt="" />
      </div>
    </div>

    <div class="resenias">
      <h1>Reseñas de nuestros clientes</h1>
      <div class="cartas-resenia">
        <div class="card-client">
          <div class="user-picture">
            <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"
              ></path>
            </svg>
          </div>
          <div class="des">
            <p class="name-client">Tomás Escudero</p>
            <hr />
            <p class="com">Repetiría la experiencia!!</p>
          </div>
        </div>
        <div class="card-client">
          <div class="user-picture">
            <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"
              ></path>
            </svg>
          </div>
          <div class="des">
            <p class="name-client">Javier Ruiz</p>
            <hr />
            <p class="com">
              Soy más de motos, pero con estos supercoches se hace la excepción.
            </p>
          </div>
        </div>
        <div class="card-client">
          <div class="user-picture">
            <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"
              ></path>
            </svg>
          </div>
          <div class="des">
            <p class="name-client">Mario Castillo</p>
            <hr />
            <p class="com">Guapisimoo!!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img src="../../../assets/img/logo_marcas/ferrari_logo_prueba.png" alt="" />
        </div>
        <div class="slide">
          <img src="../../../assets/img/logo_marcas/bugatti_logo.png" alt="" />
        </div>
        <div class="slide">
          <img src="../../../assets/img/logo_marcas/koenigsegg_logo.png" alt="" />
        </div>
        <div class="slide">
          <img src="../../../assets/img/logo_marcas/lamborghini_logo.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</main>
