<main>
  <section class="about-us">
    <h1>Sobre Nosotros</h1>
    <p>¡Bienvenidos a DriveXperience!</p>
    <h2>Nuestra Historia</h2>
    <p>
      DriveXperience es una plataforma dedicada al alquiler de coches deportivos
      de lujo, creada con pasión y precisión. Nuestra misión es brindar la
      emoción y la elegancia de experiencias automovilísticas de alta gama a
      entusiastas y conductores, ofreciendo una conducción inigualable que
      combina velocidad, estilo y sofisticación.
    </p>
    <p>
      DriveXperience nació de un proyecto simple pero ambicioso realizado por
      un grupo de entusiastas automovilísticos como parte de nuestro grado
      académico. Nuestro objetivo era crear una experiencia de usuario fluida y
      atractiva para aquellos que buscan alquilar coches deportivos de lujo.
      Esta plataforma es un testimonio de nuestro compromiso, creatividad y
      amor por los vehículos de alto rendimiento.
    </p>

    <h2>Proyecto Sin Ánimo de Lucro</h2>
    <p>
      Es importante destacar que DriveXperience es una iniciativa sin ánimo de
      lucro. Este proyecto fue desarrollado como parte de nuestros estudios
      académicos y no tiene fines comerciales. Nuestro objetivo principal es
      demostrar nuestras habilidades y conocimientos en desarrollo web y
      gestión de proyectos, al mismo tiempo que compartimos nuestra pasión por
      los coches deportivos de lujo con una audiencia más amplia.
    </p>

    <h2>Aviso de Derechos de Autor</h2>
    <p>
      Todas las imágenes presentadas en DriveXperience están protegidas por
      derechos de autor. Estas imágenes son propiedad intelectual de sus
      respectivos dueños y se utilizan aquí únicamente con fines educativos e
      ilustrativos como parte de nuestro proyecto. No reclamamos la propiedad de
      estas imágenes y reconocemos y respetamos los derechos de los creadores
      originales.
    </p>

    <h2>Nuestro Equipo</h2>
    <p>
      Nuestro equipo está compuesto por estudiantes dedicados y aficionados
      automovilísticos que han puesto todo su esfuerzo y dedicación en este
      proyecto. Creemos en el poder de la innovación, la creatividad y el
      trabajo en equipo, y esperamos que DriveXperience refleje nuestro
      compromiso con la excelencia.
    </p>

    <h2>Contáctanos</h2>
    <p>
      Agradecemos tu interés en DriveXperience. Si tienes alguna pregunta,
      comentario o sugerencia, no dudes en ponerte en contacto con nosotros. Tu
      opinión es invaluable mientras continuamos mejorando y refinando esta
      plataforma.
    </p>

    <p>Gracias por visitar DriveXperience. ¡Disfruta del viaje!</p>

    <p>Equipo DriveXperience</p>
  </section>
</main>

