<main>
  <form
    #loginForm="ngForm"
    class="containerLogin animate_animated animate_fadeInUp"
  >
    <div class="login-cont" id="itLog1"></div>
    <div class="login-cont" id="itLog2">
      <div class="login-titulo">LOGIN</div>
      <label class="login-label">Email</label>
      <div class="login-inp">
        <input id="email1" type="email" name="inputEmail" #inputEmail required />
      </div>
      <label class="login-label">Contraseña</label>
      <div class="login-inp">
        <input
          id="password1"
          type="password"
          #inputPassword
          name="inputPassword"
          required
        />
      </div>
      <div id="recuerdame">
        <label class="login-label">Recuerdame</label>
        <div class="login-inp">
          <input id="cookies" type="checkbox" required />
        </div>
      </div>
      <div>
        No tienes una cuenta, <a [routerLink]="['/registro']">Registrate</a>
      </div>
      <div class="login-button">
        <input
          id="buttonL"
          type="button"
          (click)="iniciarSesion()"
          value="Ingresar"
        />
      </div>
    </div>
  </form>
</main>
