<div class="skeleton-card">
  <div class="skeleton skeleton-img"></div>
  <div class="skeleton-header">
    <div class="skeleton skeleton-thumb"></div>
    <div class="skeleton-header-text">
      <div class="skeleton skeleton-title"></div>
      <div class="skeleton skeleton-price"></div>
    </div>
  </div>
  <div class="skeleton-attributes">
    <div class="skeleton-attr">
      <div class="skeleton skeleton-icon"></div>
      <div class="skeleton skeleton-attr-text"></div>
    </div>
    <div class="skeleton-attr">
      <div class="skeleton skeleton-icon"></div>
      <div class="skeleton skeleton-attr-text"></div>
    </div>
    <div class="skeleton-attr">
      <div class="skeleton skeleton-icon"></div>
      <div class="skeleton skeleton-attr-text"></div>
    </div>
  </div>
</div>
