<main>
  <form
    class="login-cont form-wrapper modal"
    *ngIf="showModal"
    #formFechas="ngForm"
    (ngSubmit)="onSubmit(formFechas)"
  >
    <span class="form-close" (click)="handleModal()">&times;</span>
    <div class="login-titulo">RESERVA</div>
    <label class="login-label">Fecha de inicio</label>
    <div class="login-inp">
      <input
        id="fechaInicio"
        class="inpF"
        ngModel
        name="fechaInicio"
        type="date"
        required
      />
    </div>
    <label class="login-label">Fecha de fin</label>
    <div class="login-inp">
      <input
        id="fechaFin"
        class="inpF"
        ngModel
        name="fechaFin"
        type="date"
        required
      />
    </div>
    <input
      id="precio"
      ngModel
      name="precio"
      type="hidden"
      [ngModel]="coche.precioDia"
    />
    <input
      id="idCoche"
      ngModel
      name="idCoche"
      type="hidden"
      [ngModel]="coche.idCoche"
    />
    <div class="login-button">
      <input id="buttonL" class="inpF" type="submit" value="Pagar" />
    </div>
  </form>
  <button id="form-toggle" (click)="handleModal()">RESERVAR</button>
  <ng-container *ngIf="isLoading">
    <app-loader></app-loader>
  </ng-container>
  <ng-container *ngIf="!isLoading">
    <div class="banner" *ngIf="coche">
      <div class="overlay">
        <h1>
          <span
            *ngFor="let char of coche.nombreCoche.split(''); let i = index"
            [style.animationDelay]="i * 0.05 + 's'"
            [ngClass]="{ space: char === ' ' }"
          >
            {{ char }}
          </span>
        </h1>
      </div>
      <img src="../../../assets/img/coches/{{ coche.banner }}" />
    </div>
    <div *ngIf="coche" class="proReserva-container fadeInDown">
      <div class="procesoReserva-item fadeInRight" id="proReserva-item1">
        <img src="../../../assets/img/coches/{{ coche.imagen2 }}" alt="" />
      </div>
      <div class="procesoReserva-item fadeInRight" id="proReserva-item2">
        <h2>Descripcion delantera</h2>
        <p>{{ coche.descripcionFrontal }}</p>
      </div>
      <div class="procesoReserva-item fadeInRight" id="proReserva-item3">
        <h2>Descripcion trasera</h2>
        <p>{{ coche.descripcionTrasera }}</p>
      </div>
      <div class="procesoReserva-item fadeInRight" id="proReserva-item4">
        <img src="../../../assets/img/coches/{{ coche.imagen3 }}" alt="" />
      </div>
      <div class="procesoReserva-item fadeInUp" id="proReserva-item5">
        <div class="caract1 cart fadeInLeft">
          <img
            src="../../../assets/img/iconos/automatic-transmission.png"
            alt=""
          />
          <h2>Cambio</h2>
          <p>{{ coche.cambio }}</p>
        </div>
        <div class="caract2 cart fadeInLeft">
          <img src="../../../assets/img/iconos/velocimetro.png" alt="" />
          <h2>Velocidad Máxima</h2>
          <p>{{ coche.velocidadMax }} Km/h</p>
        </div>
        <div class="caract3 cart fadeInLeft">
          <img src="../../../assets/img/iconos/tire.png" alt="" />
          <h2>Traccion</h2>
          <p>{{ coche.traccion }}</p>
        </div>
        <div class="caractImg fadeInUp">
          <img src="../../../assets/img/coches/{{ coche.imagen4 }}" alt="" />
        </div>
        <div class="caract4 cart fadeInRight">
          <img src="../../../assets/img/iconos/velocimetro2.png" alt="" />
          <h2>Aceleración <br />(0-100km/h)</h2>
          <p>{{ coche.aceleracion }} s</p>
        </div>
        <div class="caract5 cart fadeInRight">
          <img src="../../../assets/img/iconos/motor.png" alt="" />
          <h2>CILINDRADA</h2>
          <p>{{ coche.potenciaMax }} CV</p>
        </div>
        <div class="caract6 cart fadeInRight">
          <img src="../../../assets/img/iconos/gasolinera.png" alt="" />
          <h2>Combustible</h2>
          <p>{{ coche.combustible }}</p>
        </div>
      </div>
      <div class="procesoReserva-item fadeInDown" id="proReserva-item6">
        <div class="carousel-container">
          <div class="carousel-slide">
            <img
              *ngIf="coche.imagen5"
              src="../../../assets/img/coches/{{ coche.imagen5 }}"
            />
            <img
              *ngIf="coche.imagen6"
              src="../../../assets/img/coches/{{ coche.imagen6 }}"
            />
            <img
              *ngIf="coche.imagen7"
              src="../../../assets/img/coches/{{ coche.imagen7 }}"
            />
            <img
              *ngIf="coche.imagen8"
              src="../../../assets/img/coches/{{ coche.imagen8 }}"
            />
            <img
              *ngIf="coche.imagen9"
              src="../../../assets/img/coches/{{ coche.imagen9 }}"
            />
            <img
              *ngIf="coche.imagen10"
              src="../../../assets/img/coches/{{ coche.imagen10 }}"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</main>
