<main>
  <div id="precio"></div>
  <div class="contenedor">
    <div id="formulario-tarjeta" class="formulario-tarjeta active">
      <div class="grupo">
        <label for="inputNumero">Número Tarjeta</label>
        <input type="text" id="inputNumero" maxlength="19" autocomplete="off" />
      </div>
      <div class="grupo">
        <label for="inputNombre">Nombre</label>
        <input type="text" id="inputNombre" maxlength="19" autocomplete="off" />
      </div>
      <div class="flexbox">
        <div class="grupo expira">
          <label for="selectMes">Expiracion</label>
          <div class="flexbox">
            <div class="grupo-select">
              <input
                type="text"
                name="mes"
                id="mes"
                placeholder="Mes"
                maxlength="2"
              />
            </div>
            <div class="grupo-select">
              <input
                type="text"
                name="year"
                id="year"
                placeholder="Año"
                maxlength="4"
              />
            </div>
          </div>
        </div>

        <div class="grupo ccv">
          <label for="inputCCV">CCV</label>
          <input type="text" id="inputCCV" maxlength="3" />
        </div>
      </div>
      <button onclick="reservar()" class="btn-enviar">Enviar</button>
    </div>
  </div>
</main>
