
/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap'); */

:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
  --surface-color: #fff;
  --curve: 40;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./assets/fonts/Orbitron-VariableFont_wght.ttf') format('truetype'),
       url('./assets/fonts/Orbitron-Medium.ttf') format('truetype'),
       url('./assets/fonts/Orbitron-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  overscroll-behavior: none;
}


body {
  font-family: 'Orbitron','Roboto', sans-serif;
  min-height: 100vh;
  display: grid;
  font-size: 14px;
  grid-template-rows: 3.75rem 1fr auto;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  background: linear-gradient(to right, #0d0d0d 0%, rgb(29, 28, 28) 100%);
}


/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  /* background-color: #F5F5F5; */
}

/* Estilo de la barra de desplazamiento cuando se está desplazando */
::-webkit-scrollbar-thumb {
  background-color: #b7b7b7;
  border-radius: 5px;
}

/* Estilo de la barra de desplazamiento de fondo */
::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #434343 0%, rgb(29, 28, 28) 100%);
}

/* Estilo de la barra de desplazamiento cuando se pasa el cursor */
::-webkit-scrollbar-thumb:hover {
  background-color: #efefef;
}

/* MAIN */


main {
  grid-area: main;
  background: linear-gradient(to right, #434343 0%, rgb(29, 28, 28) 100%);
  display: flex;
  flex-direction: column;
}

.banner {
  margin: 0;
  height: 100%;
  width: 100%;
}

.banner img {
  width: 100%;
}

.banner video {
  width: 100%;

}


/* MAIN */
